.App {
  text-align: center;
  align-items:center;
  max-width: 400px;
  font: normal 15x/1.5  "Fira Sans", "Helvetica Neue", sans-serif; 
  -webkit-appearance: none;

}

.App-logo{
  max-width: 20vw;
  min-width: 15vw;
  align-items: center;
}

/*controls image sinze on mobile */
@media (max-width:600px){   
  .App-logo{
    max-width: 50vw;
    min-width: 15vw;
    align-items: center;
  }
}



.first-header {
  min-height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal "Fira Sans", "Helvetica Neue", sans-serif;
  font-size: calc(14px + 2vmin);
  padding-bottom: 10pt;
  text-transform: uppercase;

}

.second-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding-bottom: 10pt;

}


body {
  font: normal 15x/1.5 "Fira Sans", "Helvetica Neue", sans-serif;
  background: #e9e4e4;
  color: #b84f4f;
  padding: 50px 0;
  text-align: left;
  display: grid;
  place-items: center;
  margin-bottom: 10px;  
  border-radius:0px;
  
}
/*formating for input boxes */

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;

}

.flex-outer {
  -webkit-appearance: none;
  text-align: left;
  justify-content: space-evenly;
  margin-bottom:  10px;
}

.flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-inner {
  padding: 0 8px;
}

.flex-outer > li:not(:last-child) {
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-outer li label,
.flex-outer li p {
  /* padding: 7px; */
  font-weight: 400;

  text-transform: uppercase;
}

/* cjanges width of labels */
.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 10;

}

/* total width of input boxs */
/* .flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 60px;
} */
/* third number for flex is the initial size of the box */

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='checkbox']),
.flex-outer li textarea {
  padding: 8px;
  border: none;
  margin-right: 10px;

}



.flex-outer li button {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: auto;
  padding: 10px 10px;
  border: none;
  background: #b84f4f;;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: .05em;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.flex-outer li button:hover {
  background-color: #853838;
  transition: 0.3s;
}


/* formating for results table*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  padding: 20px;
}
table {
  border-collapse: collapse;
}
th,
td {
  padding: 8px;
  text-align: left;
  border: npne;
}
tr:nth-child(even) { 
  background-color: #c08383; 
  color:#ffffff;
} 
tbody tr:hover {
  background-color: #97848460;
  transition: 0.3s;
}
th {
  background-color: #b84f4f;
  color: rgb(255, 255, 255);
}
tfoot {
  background-color: #b1b1b1;
  color: white;
}




/* for drop down selectors */


.selectBox{
  border: none;
  margin-bottom: 4px;
  text-align: left;
  padding: 8px;
  flex: 1 0 60px;
  outline:none;
  background-color: #ffffff;
  
}

/* toggle */
.switch-field {
  display: flex;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 5px;

}

.switch-field input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  border: 0;
  overflow: hidden;
}

.switch-field label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  line-height: 1;
  text-align: center;
  padding: 7px 16px;
  margin-right: -1px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  transition: all 0.1s ease-in-out;

}

.switch-field label:hover {
  cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #b84f4f;
  color:#e4e4e4;
  box-shadow: none;
}

/* for slider */

.container {
  width: 100%;
  text-align: center;
  padding: none;
  margin: none;
}

.slider {
  width: 100%;
  margin-bottom: px;
}

.value {
  font-size: 20px;
  font-weight: bold;
}

.labels {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  color: #999;
  margin: none;
}


/* floating labels */

/* Floating labels CSS */

.floating-label {
  position: relative;
  padding-bottom: 25px;
  justify-items:stretch;
}



.floating-label-text {
  position: absolute;
  pointer-events: none;
  left: 0;
  top: 0;
  transition: 0.2s ease all;
  font-size: 16px;
}

.floating-input:focus ~ .floating-label-text,
.floating-input:not(:placeholder-shown) ~ .floating-label-text,
.selectBox:not(:placeholder-shown) ~ .floating-label-text {

  top: -18px;
  color:#b84f4f;;
}


.switch-field {
  margin-top: 6px;

}

.columns{
  display:flex;
  padding-bottom: 10px;
  column-gap: 30px;


}

input[type='number']{
  -webkit-appearance: none;
  width: 180px
} 

input[type='date']{
  -webkit-appearance: none;
  width: 180px
} 







